<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="signUpForm" (ngSubmit)="register()">
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="primary">E-Mail <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="email" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="!signUpForm.controls.email.valid && (signUpForm.controls.email.dirty || submitted)" lines="none">
        <ion-text color="danger" class="form-error">
          Email invalido
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="password" type="password"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating" color="primary">Confirmar Password <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="confirmPassword" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col size="12">
        <ion-button block color="primary" type="submit" [disabled]="signUpForm.invalid" expand="block">Crear cuenta</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
