<ion-split-pane>
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-menu menuId="pizzaMenu" side="start" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Awesome pizza menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        Awesome pizza content
      </ion-content>
      <ion-footer>
        Awesome pizza footer
      </ion-footer>
    </ion-menu>
  </ion-content>
  <ion-router-outlet ></ion-router-outlet>
</ion-split-pane>